.castCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10vw;
  max-height: 50vh;
  margin-right: 2%;
  box-sizing: border-box;
}
.castImg {
  width: 10vw;
  border-radius: 10px;
  align-self: center;
}
.characterName {
  height: 10vh;
}

@media (max-width: 700px) {
  .castCard {
    /* border: solid black 1px; */
    min-width: 37vw;
    min-height: 50vh;
  }
  .castImg {
    width: 80vw;
  }
  .characterName {
    line-height: normal;
    padding: 0px;
    margin: 0px;
  }
}
